<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>Architect Dash</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/change-pass-success.css" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" />
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Architect Dash">
<link rel="apple-touch-icon" href="/image/dashiconDes.png">
<meta name="description" content="oha app">
<meta name="theme-color" content="#2F3BA2" />
<script src="https://unpkg.com/core-js-bundle@3.0.1/minified.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/js/app-starter.js"></script>
<script src="/js/change-pass-success.js"></script>
<link rel="icon" type="image/x-icon" href="/image/dashicon.png">
</head>

<body>
    <div class="advertising-banner ">
        <img id="img_background" src="/image/5718.jpg" />
        <div id="view" class="login">
            <div class="header-title">
                <img class="img_logo" src="/image/logo.png" />
            </div>
            <p class="header_text">パスワードの設定完了しました。</p>
            <div class="login-form">
                <fieldset>
					<button id="back-to-login" class="Rectangle-Copy-3">
                            <span class="btn-text">今すぐログイン</span>
                        </button>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>