<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </link>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>
    <script src="/js/resetpass.js"></script>
    <script src="/js/app-starter.js"></script>
    <link rel="icon" type="image/x-icon" href="/image/dashicon.png">
</head>

<body>
    <div class="advertising-banner">
        <img id="img_background" src="/image/5718.jpg" />
        <div id="view" class="login">
            <div class="header-title">
                <img class="img_logo" src="/image/logo.png" />
            </div>
            <div id="login-form">
                <fieldset>
                    <div class="txt_content">
                        <p>パスワードをお忘れの方は、下記メールアドレスを入力して、「送信」を押して下さい。</p>
                    </div>
                    <div>
                        <svg class="img_style" xmlns="http://www.w3.org/2000/svg" width="19" height="14"
                            viewBox="0 0 19 14">
                            <g fill="none" fill-rule="evenodd" stroke="#979797" stroke-width="1.2">
                                <rect width="17.8" height="12.8" x=".6" y=".6" rx="1" />
                                <path d="M.905.793l8.043 5.34c.334.223.77.223 1.105.001L18.12.793h0" />
                            </g>
                        </svg>
                        <input type="text" class="input_email" name="username" id="username" placeholder="メールアドレス"
                            maxlength="50" />
                    </div>
                    <div id="msg-text"></div>
                    <button id="btn-reset-pass" class="Rectangle-Copy-3" type="submit">
                        <span class="btn-text">送信</span>
                    </button>
                    <button class="Rectangle-Copy-4" id="back-to-login">
                        <span class="request__infomation_text">戻る</span>
                    </button>
                </fieldset>
            </div>
        </div>
    </div>

    <div id="toastr" class="toastr">
        <div class="toastr__content" id="toastr_content">
        </div>
        <div class="toastr__close" id="toastr-btn-close">
            <span>x</span>
        </div>

    </div>
    </div>
</body>

</html>